.main__home {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

    .content_result {
        width: auto;
        .content_result--select {
            display: flex;
            gap: 1rem;
            margin-bottom: 1rem;
        }
        .content__result--grid {
            width: 100%;
            display: grid;
            grid-template-columns: 4fr 4fr 4fr 4fr;
            grid-gap: 10px;
        }
    }
    .content__nav {
        button {
            font-size: 1rem;
            
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            background-color: transparent;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            border-radius: 5px;

            cursor: pointer;

            &.content__nav--active {
                background-color: #363636;
                color: #ffffff;
            }
        }
    }
}