footer{
    width: 90%;
    height: 180px;
    background-color: #fafafa;
    
    text-align: center;
    p {
        font-size: 1.2rem;
        font-weight: 600;
        color: #626262;
        margin-top: 3rem;
    }
}