.main__detail {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    .content__detail {
        width: 60%;
        height: auto;
        margin: 0 1rem 0 1rem;

        button {
            background-color: transparent;
            border-style: none;
            cursor: pointer;
            margin-bottom: 0.5rem;
        }
        .section__detail {
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    
            .section__detail--content {
                height: auto;
                padding: 0.5rem 0 2rem 1rem;
                margin: 0 0 2rem 0;
                h1{
                    color: #4a4a4a;
                }
                p {
                    color: #626262;
                    margin-bottom: 0.4rem;
                }
                a {
                    cursor: pointer;
                }
            }
        }
    }
    
}
